3.)	Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
East West North South

Analyze the data and determine whether there is any difference in average TAT among the four different regions at 5% significance level.
File: BuyerRatio.csv

In [2]:
import pandas as pd 
df= pd.read_csv("BuyerRatio.csv")

# Best Statistical Test: Chi-Square Test for Independence

In [3]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

Step 1: Define Hypotheses
Null Hypothesis : There is significant simlar in  male-female the average mean among the all.

Alternative Hypothesis :  significantly  not simlar .

In [5]:
import scipy 
from scipy import stats

In [6]:
# here inpurt is decting and output is also disectie ] 
# sample are more then 2 hences chi_square test need to apply

In [7]:
scales = df.iloc[:,1:6]

In [8]:
scales

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [9]:
chisquare_result =scipy.stats.chi2_contingency(scales.values)

In [10]:
chisquare_result

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
chi_square =[['Test statictics','p-values'],chisquare_result[0],chisquare_result[1]]

In [12]:
chi_square

[['Test statictics', 'p-values'], 1.595945538661058, 0.6603094907091882]

In [ ]:
p-values > singficant values ,p high null  H0 is true