In [2]:
import pandas as pd
import numpy as np 
from statsmodels.stats.proportion import proportions_ztest

In [3]:
# data preprocessing 
count =np.array([58,152])
nods =np.array([480,740])

In [4]:
soft_drink=pd.read_csv("JohnyTalkers2.csv")

In [5]:
soft_drink.sample(4)

        Person            Drinks
846   Children  Did Not Purchase
185     Adults  Did Not Purchase
493   Children  Did Not Purchase
1124  Children  Did Not Purchase

In [6]:
# the two proportaion Z-test comparees the proporation 
# of two group 
# pepole counsuming ssoft_drink in each group (adulaste and child )

In [7]:
# Using a two-sild 
#count=[58,152] : the number of sucesses 
# (pepole consumtion soft drink ) in each group (adulte and childerns)

#nodes =[480,740] the total number of observertion 
# in each group adulats and child ren serverd 
# about the softdrink consution for adulats and child 
# Mean '  s how

In [8]:
#Chi-queu y test thers are often extrationed from datasets 
#if you data is in s file (liking "JohuyTalker.csv")
#you can clateculet the values

In [12]:
#therse
soft_drink.sample(3)

       Person            Drinks
924  Children  Did Not Purchase
222    Adults  Did Not Purchase
609  Children         Purchased

In [15]:
abults=soft_drink[soft_drink['Person']=='Adults']
children=soft_drink[soft_drink['Person']=='Children']

In [22]:
adult_count=len(abults)
children_count=len(children)

In [25]:
cont_adults=abults[abults['Drinks']=='Purchased'].shape[0]
cont_chidren=children[children['Drinks']=='Purchased'].shape[0]

In [23]:
print(adult_count)
print(children_count)

480
740

In [19]:
abults.shape

(480, 2)

In [20]:
children.shape

(740, 2)

In [26]:
count=[cont_adults,cont_chidren]
nods=[adult_count,children_count]

In [27]:
print(count)
print(nods)

[58, 152]
[480, 740]

In [28]:
# two-side-test 
z_stat,p_val=proportions_ztest(count,nods,alternative='two-sided')
print("Two-side Proporation Test : ",z_stat,"P-value",p_val)

Two-side Proporation Test :  -3.8227247718795447 P-value 0.00013198507287726183

In [ ]:
#Interpretation 
#h0=Proporation of adults and childern counsuming the soft drinks are the 
#h1=Proporation are different 
# since the p-vlaue (0.0000) is less than 0.05 we rejected the null hypothsis 
#conclusion : there is signification diffrence in ssoft_drink consumptions 

#chi -Square Test 
#Objective defective pro